.container {
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  padding: 32px;
}
.title svg {
  font-size: 3rem;
  transform: translate(6px, 8px);
}
@media (max-width: 998px) {
  .title {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

.dashboard,
.report {
  padding: 64px 12px;
  width: 100%;
  height: fit-content;
}

.line {
  width: 100%;
  height: 400px;
}

.pie {
  width: 100%;
  height: 400px;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.table {
  width: 60%;
  margin: 0 auto;
  padding: 32px 12px;
}
@media (max-width: 1200px) {
  .table {
    width: 80%;
  }
}
