.container {
  width: 100%;
}

.card {
  width: fit-content;
  margin: 80px auto;
  text-align: center;
}

.header {
  padding: 40px 80px;
}

.login,
.footer {
  border-top: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
}

.login {
  padding: 64px 80px;
  gap: 32px;
}
@media (max-width: 998px) {
  .login {
    padding: 64px 32px;
  }
}

.footer {
  padding: 40px;
  gap: 24px;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer p {
  padding-bottom: 40px;
}
